.container {
  width: 20vh;
  height: 35vh;
  border: 2px solid black;
  padding: 10px 10px;
  border-radius: 20px;
  gap: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ship {
  border: 2px solid rebeccapurple;
  width: 4vh;
}

.shipVeryBig {
  height: 16vh;
}

.shipLarge {
  height: 12vh;
}

.shipMedium {
  height: 8vh;
}

.shipSmall {
  height: 4vh;
}
