@import url(../../../../assets/styles/variables.css);

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p {
  font-size: 23px;
}


.choiceName {
  font-size: var(--h4-text-size);
}

.input {
  padding: 10px;
  font-size: 18px;
  text-align: center;
  border: 2px solid var(--SP-border-color);
  border-radius: var(--border-size);
}

