.mainContainer {
    display: flex;
    flex-direction: column;
}

.firstContainer {
    display: flex;
}

.alphabet {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.secondContainer {
    display: flex;
    flex-direction: row;
}

.numbers {
    width: 3vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}